header {
    display: flex;
    padding: 30px;
    align-items: center ;
    gap: 50px;
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h5 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.container {
    display: flex;
    min-height: 80vh;
}

.sidebar {
    width: 300px;
    background-color: yellow;
    padding: 15px;
}

.sidebar a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: yellow;
    transition: all 0.3s ease;
}

.sidebar a:hover {
    background-color: red;
    color: white;
}

.content {
    flex: 1;
    padding: 20px;
    gap: 20px;
}

.grid-container {   
    display: grid; 
    grid-template-columns: repeat(2, 0fr);
    gap: 30px; }

.box {
    text-align: center;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
}

.content p {
    font-size: 30px;
}

.content h2 {
    font-size: 30px;
}

.content h3 {
    font-size: 30px;
}

footer {
    padding: 20px;
    background-color: black;
}

footer p {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-group label {
  width: 200px;
  margin-right: 10px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-group input {
  padding: 10px;
  width: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}
.form-group textarea {  
  padding: 30px;
  width: 460px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}


button {
  display: block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 125px;
  height: 50px;
}

button:hover {
  background-color: lightblue;
}
