:root {
  --body-bg: white;
  --body-text: black;
  --sidebar-bg: yellow;
  --sidebar-text: black;
  --theme-switcher: red;
  --theme-switcher-color: white;
  --header: black;
  --footer: black;
  --footer-p: white;
  --h1: white;
  --h5: white;
  --sidebar-a-hover: red;
  --sidebar-a-hover-color: white;
  --box-background-color: white;
}

.dark-theme {
  --body-bg: black;
  --body-text: white;
  --sidebar-bg: #C4A484;
  --sidebar-text: white;
  --theme-switcher: yellow;
  --theme-switcher-color: black;
  --header: white;
  --footer: white;
  --footer-p: black;
  --h1: black;
  --h5: black;
  --sidebar-a-hover: yellow;
  --sidebar-a-hover-color: black;
  --box-background-color: black;
}


body { 
    background-color: var(--body-bg); 
    color: var(--body-text); 
    transition: background-color 0.3s ease, color 0.3s ease; 
}
header {
    display: flex;
    padding: 30px;
    align-items: center ;
    gap: 50px;
    background-color: var(--header);
}

h1 {
    color: var(--h1);
    text-align: center;
    font-size: 100px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h5 {
    color: var(--h5);
    text-align: center;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

.container {
    display: flex;
    min-height: 80vh;
}

.sidebar { 
    width: 300px; 
    background-color: var(--sidebar-bg); 
    padding: 15px; 
}

.sidebar a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: var(--sidebar-text);
    font-size: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: var(--sidebar-bg);
    transition: all 0.3s ease;
}

.sidebar a:hover {
    background-color: var(--sidebar-a-hover);
    color: var(--sidebar-a-hover-color);
}

.content {
    flex: 1;
    padding: 20px;
    gap: 20px;
}

.grid-container {   
    display: grid; 
    grid-template-columns: repeat(2, 0fr);
    gap: 30px; }

.box {
    text-align: center;
    background-color: var(--box-background-color);
    padding: 10px;
    border: 1px solid #ccc;   
}

.box img {
  transition: transform 0.3s ease;
}

.box:hover img {
  transform: scale(1.05);
}

.content p {
    font-size: 30px;
}

.content h2 {
    font-size: 30px;
}

.content h3 {
    font-size: 30px;
}

.grid-shopping{
    display: grid; 
    grid-template-columns: repeat(1, 0fr); 
  }


footer {
    padding: 20px;
    background-color: var(--footer);
}

footer p {
    color: var(--footer-p);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 20px;
}

.form-contact {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-contact label {
  width: 200px;
  margin-right: 10px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-contact input {
  padding: 10px;
  width: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}
.form-contact textarea {  
  padding: 30px;
  width: 460px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

.form-login {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.form-login label {
  width: 200px;
  margin-right: 10px;
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-login input {
  padding: 10px;
  width: 500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

.form-login textarea {  
  padding: 30px;
  width: 460px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

button {
  display: block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 125px;
  height: 50px;
}

button:hover {
  background-color: lightblue;
}

.btn {
  display: block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: blue;
  text-decoration: none;
  text-align: center;
  line-height: 32px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 85px;
  height: 33px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
  background-color: lightblue;
}

#theme-switcher {
  display: block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: var(--theme-switcher);
  color: var(--theme-switcher-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 300px;
  height: 50px;
  font-weight: bold;
}

/* ----------------------SHOPPING PART-------------------------- */
.cart-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.S-button {
  all: unset;
  width: 30px;
  height: 30px;
  border: 2px solid #333;
  border-radius: 5px;
  background: white;
  position: relative;
  cursor: pointer;
}

.S-button.minus::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20%;
  width: 60%;
  height: 2px;
  background: black;
}

.S-button.plus::before,
.S-button.plus::after {
  content: "";
  position: absolute;
  background: black;
}

.S-button.plus::before {
  top: 50%;
  left: 20%;
  width: 60%;
  height: 2px;
  transform: translateY(-50%);
}

.S-button.plus::after {
  left: 50%;
  top: 20%;
  width: 2px;
  height: 60%;
  transform: translateX(-50%);
}
